// Import variables from "./variables"
@use "./variables"as *;

// Text styles mixin
@mixin text-styles($color, $font-family, $font-size, $font-weight, $line-height) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

// Button mixin
@mixin button($bg-color: $primary-color, $text-color: $white-color) {

  border-radius: 18px;
  border: none;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  padding: 26px 54px;
  @include flex-center;
  // font-family: $font-regular;
  gap: 10px;
  font-size: 18px !important;
  color: $text-color !important;
  font-weight: 600 !important;
  margin: 0 !important;
  background-color: $bg-color;
}

// Flex mixin
@mixin flex {
  display: flex;
}

// Flex center mixin
@mixin flex-center {
  display: flex; // Set the element as a flex container
  align-items: center; // Vertically center child elements
  justify-content: center; // Horizontally center child elements
}

// mixin with a media query

@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}