// Import variables from "./variables"
@use "./variables"as *;

// Text styles mixin
@mixin text-styles($color, $font-size, $font-weight, $line-height) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

// Flex mixin
@mixin flex {
  display: flex;
}

// Flex center mixin
@mixin flex-center {
  display: flex; // Set the element as a flex container
  align-items: center; // Vertically center child elements
  justify-content: center; // Horizontally center child elements
}

// mixin with a media query

@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}