// defining variables
$Primary-1: #CDA274;
$accent-color: #4D5053;
$Primary-2: #292F36;
$Primary-3: #F4F0EC;
$white-color: #FFF;

//media variables
$mobile-screen: 576px;
$tablet-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1501px;
$my-screen:1920px;

// Common colors
$primary-color: $Primary-2;
$secondary-color: $accent-color;

// Common font families
$font-style1: Roboto;
$font-style2: DM-Regular;
