// Import styles from "../partials/importers"
@use "../partials/importers"as *;

// Styles for the card wrapper
.footer {
    margin-top: 88px;
    background-color: black;
    padding: 96px 0;
    color: white;

    /* Styles for the main content of the footer */
    &__content {
        @include flex;
        justify-content: space-between;

        @include media($tablet-screen) {
            flex-wrap: wrap;
        }

        &--logo {

            @include media($tablet-screen) {
                width: 30%
            }

            @include media($mobile-screen) {

                width: 50%
            }
        }

        &--bottom {
            width: 33%;

            @include media($tablet-screen) {
                margin-top: 30px;
                margin-right: 40px;
                width: 100%;
            }

            p {
                @include text-styles(#E8E9EA, 16px, 500, normal);
                font-style: normal;
                letter-spacing: 2px;
                text-transform: uppercase;
                position: relative;

                &::after {
                    z-index: 8;
                    position: absolute;
                    content: "";
                    width: 44px;
                    top: 50%;
                    left: 140px;
                    transform: translateY(-50%);
                    height: 2px;
                    background-color: white;
                }
            }

            h3 {
                margin-top: 13px;
                @include text-styles(#E8E9EA, 28px, 500, 140%);
                font-style: normal;
                margin-bottom: 34px;
            }

            form {
                gap: 10px;
                position: relative;

                input {
                    margin: 0 !important;
                    padding: 22px 130px 23px 24px;
                    background: black;
                    @include text-styles(rgba(235, 240, 249, 0.30), 16px, 400, normal);
                    font-style: normal;
                    border-radius: 4px;
                    border: 1px solid rgba(235, 240, 249, 0.30);

                }

                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    @include flex-center;
                    padding: 16px 32px;
                    border-radius: 4px;
                    background: white;
                    backdrop-filter: blur(40px);
                    color: black;
                    border: none;
                }
            }
        }

        /* Styles for the lists in the footer */
        &__lists {
            width: 37%;

            @include media($large-screen) {
                width: 40%;
            }

            @include flex;
            justify-content: space-between;

            @include media($tablet-screen) {
                width: 70%;
            }

            @include media($mobile-screen) {
                width: 100%;
                margin-top: 30px;
                justify-content: space-between;
            }

            /* Styles for the pages and services sections */
            &__pages,
            &__services {
                p {
                    @include text-styles(#fff, 16px, 700, 160%);
                    font-style: normal;
                    word-break: break-all;
                }

                ul {
                    margin-top: 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    /* Styles for list items within the footer */
                    li {
                        a {
                            @include text-styles(white, 14px, 400, normal);
                        }
                    }
                }
            }

            &__services {
                .bold {
                    margin-bottom: 24px;
                }

                .display-flex {
                    gap: 8px;
                    margin-bottom: 24px;

                    p {
                @include text-styles(white, 14px !important, 400 !important, 160%);
                        font-style: normal;
                    }
                }
            }
        }

    }
}

.mar {
    margin-bottom: 10px;
}