// Import styles from "../partials/importers"
@use "../partials/importers"as *;

// Styles for a container element
.container {
    max-width: 1200px; // Set maximum width for larger screens
    margin: 0 auto; // Center the container horizontally

    @include media($extra-large-screen) {
        max-width: 1140px;
        padding: 0 20px;
    }

    @include media($large-screen) {
        max-width: 960px;
    }

    @include media($tablet-screen) {
        max-width: 720px;
    }

    @include media($mobile-screen) {
        max-width: 100%;
    }
}
