// Import styles from "../partials/importers"
@use "../partials/importers"as *;

// Styles for a container element
.container {
    max-width: 1200px; // Set maximum width for larger screens
    margin: 0 auto; // Center the container horizontally

    @include media($extra-large-screen) {
        max-width: 1140px;
        padding: 0 20px;
    }

    @include media($large-screen) {
        max-width: 960px;
    }

    @include media($tablet-screen) {
        max-width: 720px;
    }

    @include media($mobile-screen) {
        max-width: 100%;
    }
}

.display-flex {
    display: flex;
}

.slick-next,
.slick-prev {

    &::before {
        color: black !important;
        font-size: 30px !important;
        width: auto !important;
        height: auto !important;
    }
}

.slick-next {
    z-index:55 !important;
    right: 10px !important;
}

.slick-prev {
    z-index: 55 !important;
    left: 10px !important;
}