// Import styles from "../partials/importers"
@use "../partials/importers"as *;

// Styles for a container element
.container {
    max-width: 1200px; // Set maximum width for larger screens
    margin: 0 auto; // Center the container horizontally

    @include media($extra-large-screen) {
        max-width: 1140px;
        padding: 0 20px;
    }

    @include media($large-screen) {
        max-width: 960px;
    }

    @include media($tablet-screen) {
        max-width: 720px;
    }

    @include media($mobile-screen) {
        max-width: 100%;
    }
}

// Styles for creating a flex container
.flex {
    display: flex; // Use flexbox for layout
}

.margin-20 {
    padding: 20px 0;
}

.default-btn {
    @include button;
    background: #292F36;
    width: 225px;

    &::after {
        padding-top: 5px;
        content: url(../images/icons/Vector.svg);
    }
}

// .large-btn {
//     @include button;
//     background: #292F36;
//     width: 270px;

//     &::after {
//         padding-top: 5px;
//         content: url(../images/icons/Vector.svg);
//     }
// }

// .primary-btn {
//     @include button;
//     box-shadow: 0px 10px 20px 0px rgba(0, 0, 0);
//     background: $Primary-1;
//     width: 261px;
//     margin: 0 auto;

//     &::after {
//         padding-top: 5px;
//         content: url(../images/icons/Vector.WEBP);
//     }
// }

// .large-btn,
// .primary-btn,
// .default-btn {
//     &:hover {
//         color: red !important;
//     }

//     @include media($extra-large-screen) {
//         width: fit-content;
//     }

//     @include media($mobile-screen) {
//         padding: 14px 20px;
//     }
// }

// .bold {
//     @include text-styles($secondary-color, $font-regular, 22px, 600, 1.25);
// }